# Python
__pycache__/
*.pyc
*.pyo
venv/
zia-env/

# Environment files
.env
backend/.env
frontend/.env
.env.*

# Database
*.db

# OAuth / Secrets
client_secret.json
token.json

# Node
node_modules/
frontend/node_modules/

# Next.js
.next/
frontend/.next/

# Executables
*.exe
ngrok.exe

# OS
.DS_Store
Thumbs.db
